/*componente sin estilos*/
.table tr th.nivel1{
    background-color: azure
}

.table tr th{
    font-size: 13px;
}

.table tr td{
    font-size: 13px;
}
.table tr th.nivel2{
    background-color: rgb(140, 153, 153)
}
