<div *ngIf="usuService.listaVisible">  
  <div class="row">  
     <!--   <div class="col-md-12"> <h6 class="text-center bg-secondary text-white"> usuarios </h6></div>   -->

        <div class="col-1 offset-md-10">
          <a class="btn btn-outline-secondary btn-sm " (click)="showNew()">
            <i class="fa fa-plus-circle "></i>  <span> Nuevo usuario</span>
          </a>
        </div>
      <div class="col-md-12"> 
      <div class="table-responsive">
        <table class="table table-sm  table-hover">
          <thead>
            <tr  > 
              <th>  </th>   <th>  </th> <th>  </th> <th>  </th>
              <!-- lista de titulos-->
              <Th *ngFor="let titulo of usuService.titulos ; let i = index">{{titulo}}</Th>   
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuService.lista ; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">

              <td > 
                <a class="btn" (click)="showForEdit(usuario)"   title="Editar"> <i class="fa fa-pencil-square-o"></i> </a>
              </td>
              <td > 
                  <a class="btn" (click)="showRoles(usuario)"   title="Roles"> <i class="fa fa-vcard-o"></i> </a>
                </td>
                <td > 
                    <a class="btn" (click)="showAmbito(usuario)"   title="Ambito"> <i class="fa fa-eye"></i> </a>
                  </td>
                    <td>
              <a class="btn text-danger" (click)="onDelete(usuario,template)" title="Borrar"> <i class="fa fa-trash-o"></i> </a>
              </td>
              <!--  campos de la fila-->
              <td *ngFor="let campo of usuService.campos"> {{usuario[campo]}}</td>
        
            </tr>
          </tbody>
        </table>
      </div>
      </div>
  </div>
</div>
<!-- mensaje de confirmacion-->
<ng-template #template>

    <div class="modal-content">
    <div class="modal-header">

      <h4 id="dialog-static-name" class="modal-title pull-left">Desea Borrar el usuario?</h4>
    </div>
    <div class="modal-body text-center">
      <!--  <p> Nro de Serie: {{usuService.instancia.NroSerie}}</p>
        <p>         Tipo: {{usuService.instancia.Tipo}}</p>
        <p>         Piso: {{usuService.instancia.Piso}}</p>
        <p>       Puesto: {{usuService.instancia.Puesto}}</p>
      -->
      <button type="button" class="btn btn-default" (click)="confirm()" >Si</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
  </div>


</ng-template>