<div class="miAcordion">
    <div id="accordion" *ngFor="let rubro of legajoService.legajo.Rubro ; let in = index">
        <div class="card">
            <div class="card-header">
                <a class="fuenteChica" aria-expanded="false" data-toggle="collapse" href="#collapse{{in}}">
                    <span class="font-weight-bold">{{in}}.- {{rubro.RubroDefinicion[0].Descripcion}}</span>
                </a>
            </div>
            <div id="collapse{{in}}" class="collapse " data-parent="#accordion">
                <div class="card-body list-group-flush h-25 p-1">
                    <div *ngFor="let tipoDoc of rubro.TipoDoc ; let ind = index">
                        &nbsp;&nbsp; &nbsp;&nbsp;<button type="button" class="btn btn-link  fuenteChica" (click)='legajoService.setDatosTipoDoc(tipoDoc,rubro.RubroDefinicion[0].Descripcion)'><i class= "fa fa-minus"></i> {{tipoDoc.TipoDocDefinicion[0].Descripcion}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>