<div style="text-align:center">
    <h1 class="bg-secondary text-white"> Usuarios </h1>  
</div>
<div class="row">
    <div class="col-md-12">
        <app-usuarios-lista></app-usuarios-lista> 
    </div>  
    <div class="col-md-12">
      <app-usuarios-datos> </app-usuarios-datos>
    </div>
    <div class="col-md-12">
            <app-usuarios-ambito> </app-usuarios-ambito>
          </div>
    <div class="col-md-12">
        <app-usuarios-roles> </app-usuarios-roles>
    </div>
                
</div>    
