<div *ngIf="rubroService.datosVisible">
    <h6 class="text-center bg-secondary text-white"> Información del rubro </h6>
    <form class="emp-form" #rubroForm="ngForm" (ngSubmit)="onSubmit(rubroForm)">

        <div class="form-row">
            <div class="form-group col-md-2">
                <label>Número </label>
                <input class="form-control form-control-sm" name="Rubro" #NUmero="ngModel" [(ngModel)]="rubroService.instancia.Rubro" placeholder="Número de Rubro" required>
                <div class="validation-error" *ngIf="NUmero.invalid && NUmero.touched">El campo es Requerido.</div>
            </div>
            <div class="form-group col-md-2">
                <label>Orden </label>
                <input class="form-control form-control-sm" name="Orden" #Orden="ngModel" [(ngModel)]="rubroService.instancia.Orden" placeholder="Orden" required>
                <div class="validation-error" *ngIf="Orden.invalid && Orden.touched">El campo es Requerido.</div>
            </div>

        </div>

        <div class="form-row">

            <div class="form-group col-md-6">
                <label>Descripción Corta </label>
                <input class="form-control  form-control-sm" name="DescripcionCorta" #DescripcionCorta="ngModel" [(ngModel)]="rubroService.instancia.DescripcionCorta" placeholder="Descripción Corta" required>
                <div class="validation-error" *ngIf="DescripcionCorta.invalid && DescripcionCorta.touched">El campo es Requerido.</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Descripción </label>
                <textarea class="form-control  form-control-sm rows=3" name="DescripcionLarga" #DescripcionLarga="ngModel" [(ngModel)]="rubroService.instancia.DescripcionLarga" placeholder="Descripción" required></textarea>
                <div class="validation-error" *ngIf="DescripcionLarga.invalid && DescripcionLarga.touched">El campo es Requerido.</div>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-8">
                <button [disabled]="!rubroForm.valid" type="submit" class="btn btn-sm btn-lg btn-block btn-info">
          <i class="fa fa-floppy-o"></i> Grabar</button>
            </div>
            <div class="form-group col-md-4">
                <button type="button" class="btn btn-sm btn-lg btn-block btn-secondary" (click)="resetForm(rubroForm)">
          <i class="fa fa-repeat"></i> Cancelar</button>
            </div>
        </div>
    </form>
</div>