<div class="container-fluid">
    <!-- contenedor principal de la aplicacion -->
    <div class="row">
        <app-nav></app-nav>
        <!-- barra de navegacion superior -->
    </div>
    <div class="row">
        <div class="toast-container absolute bottom-2 right-2">
            <!-- 	<app-mensajes></app-mensajes>	barra de navegacion superior -->
        </div>
    </div>

    <div class="row ">
        <!-- columna de la sidebar izquierda -->
        <!-- <div class="col-md-2"  style="margin-left: 0px"> 
			<app-sidebar></app-sidebar> 
		</div>  -->

        <div class="col-md-12 ml-auto">
            <!-- columna de la main view -->
            <app-main-view> </app-main-view>

        </div>

    </div>

</div>