<div class="table-responsive" >
    <table class="table table-sm  table-hover">
      <thead>
      <tr > 

        <th>  </th>  
        <Th *ngFor="let titulo of titulos1 ; let i = index">{{titulo}}</Th> 
    </thead>
      <tr *ngFor="let elemento of nivel1 ; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">


          
          <td>
          <a class="btn text-danger" >
              <i class="fa fa-plus-o"></i>
            </a>
          </td>

          <td *ngFor="let campo of campos1"> {{elemento[campo]}}</td>



      </tr>
    </table>
  </div>
